.footer {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: $text-color;

    &__box > .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        // row-gap: 60px;
        
         @media screen and (min-width: 768px) {
          flex-direction: row;
        }
         @media screen and (min-width: 1264px) {
          text-align: start;
        }
    }

    &__noc {
        display: flex;
    }

    &__list {
        display: flex;
    }

    &__item {
        padding-right: 96px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 18px;
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.22;

   @media screen and (min-width: 720px) {
    line-height: 1.2;
    font-size: 20px;
   }

   @media screen and (min-width: 1264px) {
    
   }
    }

    &__link {
        color: $footer-color;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 1.22;
margin-bottom: 12px;

        @media screen and (min-width: 720px) {
font-size: 16px;
line-height: 1.18;
           }
        
           @media screen and (min-width: 1264px) {
            
           }
    }

    &__title {
        color: $footer-color;
font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 1.22;

        @media screen and (min-width: 720px) {
            font-size: 20px;
            line-height: 1.2;
           }
        
           @media screen and (min-width: 1264px) {
            
           }
    }

    &__text {
        color: $footer-color;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 1.21;

@media screen and (min-width: 720px) {
    font-size: 16px;
    line-height: 1.18;
   }

   @media screen and (min-width: 1264px) {
    
   }
}

  &__addres {
    color: $footer-color;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;

    @media screen and (min-width: 720px) {
        font-size: 16px;
       }
    
       @media screen and (min-width: 1264px) {
        
       }
  }

.addres {
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__title {
        color: $footer-color;
font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: normal;

        @media screen and (min-width: 720px) {
            font-size: 20px;
font-weight: 700;
line-height: normal;
        }
     
        @media screen and (min-width: 1264px) {
         
        }
    }

    &__link {
        color: $footer-color;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: normal;

        @media screen and (min-width: 720px) {
            font-size: 16px;
            line-height: normal;
           }
        
           @media screen and (min-width: 1264px) {
            
           }
    }
}
}