.footer {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: $text-color;

  &__box > .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      // row-gap: 60px;
      
       @media screen and (min-width: 768px) {
        flex-direction: row;
      }
       @media screen and (min-width: 1264px) {
        text-align: start;
      }
  }

  // &__div {
  //     // position: relative;
  // }

  &__logo {
      // position: absolute;
      // bottom: -72px;
      // left: -24px;
      @media screen and (max-width: 1264px) {
          display: none;
        }
  }

  &__icon {
      fill: $footer-color;
      width: 73px;
height: 57px;
@media screen and (max-width: 1264px) {
  display: none;
}
  }

  &__noc {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  &__list {
      display: flex;
  }

  &__item {
      margin-right: 96px;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
          margin-right: 44px;
        }
  }

  &__title {
      margin-bottom: 18px;
      color: #FFF;
      font-family: Inter;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.22;

 @media screen and (min-width: 720px) {
  line-height: 1.2;
  font-size: 20px;
 }

 @media screen and (min-width: 1264px) {
  
 }
  }

  &__link {
      color: $footer-color;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 1.22;
margin-bottom: 12px;

      @media screen and (min-width: 720px) {
font-size: 16px;
line-height: 1.18;
         }
      
         @media screen and (min-width: 1264px) {
          
         }
  }

  &__title {
      color: $footer-color;
font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 1.22;

      @media screen and (min-width: 720px) {
          font-size: 20px;
          line-height: 1.2;
         }
      
         @media screen and (min-width: 1264px) {
          
         }
  }

  &__text {
      color: $footer-color;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 1.21;

@media screen and (min-width: 720px) {
  font-size: 16px;
  line-height: 1.18;
 }

 @media screen and (min-width: 1264px) {
  
 }
}

&__addres {
  color: $footer-color;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;

  @media screen and (min-width: 720px) {
      font-size: 16px;
     }
  
     @media screen and (min-width: 1264px) {
      
     }
}

&__flex {
  display: flex;
width: 29px;
height: 74px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 18px;
flex-shrink: 0;
  // position: relative;

  @media screen and (min-width: 720px) {
      margin-left: 64px;
     }

     @media screen and (min-width: 1264px) {
      margin-left: 200px;
     }
}

// &__sociallink {
// //     position: absolute;
// //     top: -72px;
// // left: -60px;
// }

&__social {
  fill: $footer-color;
  width: 28px;
height: 28px;
display: flex;
flex-direction: column;
}
}