.container {
  max-width: 1264px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 304px) {
  .container {
    width: 304px;
  }
}
@media screen and (min-width: 752px) {
  .container {
    width: 752px;
  }
}
@media screen and (min-width: 1264px) {
  .container {
    width: 1264px;
  }
}

body {
  font-family: "Montserrat";
}

a {
  color: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

.store {
  padding-top: 60px;
}
@media screen and (min-width: 752px) {
  .store {
    padding-top: 100px;
  }
}
.store__box {
  display: flex;
  align-items: center;
}
.store__title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: 40px;
}
@media screen and (min-width: 752px) {
  .store__title {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1264px) {
  .store__title {
    font-size: 44px;
    margin-bottom: 91px;
  }
}
.store__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media screen and (min-width: 752px) {
  .store__list {
    gap: 32px;
  }
}
@media screen and (min-width: 304px) {
  .store__item {
    flex-basis: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 752px) {
  .store__item {
    flex-basis: calc((100% - 40px) / 2);
  }
}
@media screen and (min-width: 1264px) {
  .store__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
.store__img {
  width: 100%;
}
.store__line {
  display: flex;
  align-items: center;
  border-right: 1px solid #000;
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-bottom: 40px;
  margin-left: 14px;
}
@media screen and (min-width: 752px) {
  .store__line {
    margin-bottom: 60px;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1264px) {
  .store__line {
    margin-bottom: 91px;
    margin-left: 16px;
  }
}
.store__bex {
  display: flex;
  align-items: center;
}
.store__paragraph {
  color: #000;
  font-size: 16px;
  width: 135px;
  font-weight: 500;
  line-height: 1.22;
}
@media screen and (min-width: 752px) {
  .store__paragraph {
    font-size: 32px;
    width: 256px;
  }
}
@media screen and (min-width: 1264px) {
  .store__paragraph {
    font-size: 36px;
    width: 318px;
  }
}
.store__lin {
  display: flex;
  align-items: center;
  border-right: 1px solid #000;
  height: 1px;
  margin-left: 5px;
  width: 50%;
  background-color: #000;
  display: none;
}
@media screen and (min-width: 752px) {
  .store__lin {
    display: flex;
  }
}
@media screen and (min-width: 1264px) {
  .store__lin {
    display: flex;
  }
}
.store__btn {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  padding: 14px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #E86F54;
  margin: 0 auto;
  border-radius: 38px;
  margin-top: 32px;
}
@media screen and (min-width: 752px) {
  .store__btn {
    font-size: 28px;
    padding: 16px 32px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1264px) {
  .store__btn {
    font-size: 28px;
    padding: 16px 32px;
    margin-top: 60px;
  }
}
.store__text {
  color: rgb(181, 176, 170);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
}
@media screen and (min-width: 752px) {
  .store__text {
    font-size: 24px;
  }
}
@media screen and (min-width: 1264px) {
  .store__text {
    font-size: 28px;
  }
}

.delivery {
  padding-top: 100px;
  padding-bottom: 69px;
}
.delivery__box {
  display: flex;
  align-items: center;
}
.delivery__title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: 40px;
}
@media screen and (min-width: 720px) {
  .delivery__title {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1264px) {
  .delivery__title {
    font-size: 44px;
    margin-bottom: 91px;
  }
}
.delivery__line {
  display: flex;
  align-items: center;
  border-right: 1px solid #000;
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-bottom: 40px;
  margin-left: 14px;
}
@media screen and (min-width: 720px) {
  .delivery__line {
    margin-bottom: 60px;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1264px) {
  .delivery__line {
    margin-bottom: 91px;
    margin-left: 16px;
  }
}
.delivery__span {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 50%;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 1264px) {
  .delivery__span {
    font-size: 26px;
  }
}
.delivery__text {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 720px) {
  .delivery__text {
    font-size: 24px;
    gap: 32px;
  }
}
@media screen and (min-width: 1264px) {
  .delivery__text {
    font-size: 32px;
    gap: 40px;
  }
}

.footer {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #000;
}
.footer__title {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
}
@media screen and (min-width: 720px) {
  .footer__title {
    line-height: 1.2;
    font-size: 20px;
  }
}
.footer__link {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.22;
}
@media screen and (min-width: 720px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.18;
  }
}
.footer__title {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
}
@media screen and (min-width: 720px) {
  .footer__title {
    font-size: 20px;
    line-height: 1.2;
  }
}
.footer__text {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
}
@media screen and (min-width: 720px) {
  .footer__text {
    font-size: 16px;
    line-height: 1.18;
  }
}
.footer .addres__title {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 720px) {
  .footer .addres__title {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }
}
.footer .addres__link {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 720px) {
  .footer .addres__link {
    font-size: 16px;
    line-height: normal;
  }
}/*# sourceMappingURL=main.css.map */