<div class="backdrop is-hidden" data-modal>
<div class="modal modal__bux">
    <button class="modal__btn" type="button" data-modal-close>
        <svg class="modal__coluse">
            <use href="../img/symbol-defs.svg#clouse"></use>
        </svg>
    </button>
    <img src="../img/store1@1x.jpg" alt="flower" class="modal__img">
    <div class="modal__box">
        <h2 class="modal__title">Follow to our newsletter</h2>
        <p class="modal__text">Be the first  to get exclusive offers and the latest  news on our product directly in your box.</p>
        <form action="" class="modal__form">
            <label  class="modal__label">
                Email
                <input type="text" placeholder="Your email" class="modal__input">
            </label>
            <button class="modal__button" type="submit">Subscribe</button>
        </form>
    </div>
</div>
</div>