<section id="blog" class="blog">
  <div class="container">
    <div class="blog__flexline">
      <h3 class="blog__title">BLOG</h3>
      <p class="blog__line"></p>
    </div>
    <ul class="blog__list">
      <li class="blog__item">
        <picture data-aos="flip-up">
          <source
            srcset="
              ./img/desktop/blog-left-desktop@1x.webp 1x,
              ./img/desktop/blog-left-desktop@2x.webp 2x
            "
            media="(min-width: 1264px)"
          />
          <source
            srcset="
              ./img/tablet/blog-left-tablet@1x.webp 1x,
              ./img/tablet/blog-left-tablet@2x.webp 2x
            "
            media="(min-width: 720px)"
          />
          <source
            srcset="
              ./img/mobile/blog-left-mobile@1x.webp 1x,
              ./img/mobile/blog-left-mobile@2x.webp 2x
            "
            media="(max-width: 719px)"
          />
          <img src="./img/blog-left@1x.jpg" alt="left" class="blog__space" />
        </picture>
        <picture data-aos="zoom-in-up">
          <source
            srcset="
              ./img/desktop/blog-center-desktop@1x.webp 1x,
              ./img/desktop/blog-center-desktop@2x.webp 2x
            "
            media="(min-width: 1264px)"
          />
          <source
            srcset="
              ./img/tablet/blog-center-tablet@1x.webp 1x,
              ./img/tablet/blog-center-tablet@2x.webp 2x
            "
            media="(min-width: 720px)"
          />
          <source
            srcset="
              ./img/mobile/blog-center-mobile@1x.webp 1x,
              ./img/mobile/blog-center-mobile@2x.webp 2x
            "
            media="(max-width: 719px)"
          />
          <img
            src="./img/blog-center@1x.jpg"
            alt="center"
            class="blog__center"
          />
        </picture>
        <picture data-aos="flip-down">
          <source
            srcset="
              ./img/desktop/blog-right-desktop@1x.webp 1x,
              ./img/desktop/blog-right-desktop@2x.webp 2x
            "
            media="(min-width: 1264px)"
          />
          <source
            srcset="
              ./img/tablet/blog-right-tablet@1x.webp 1x,
              ./img/tablet/blog-right-tablet@2x.webp 2x
            "
            media="(min-width: 720px)"
          />
          <source
            srcset="
              ./img/mobile/blog-right-mobile@1x.webp 1x,
              ./img/mobile/blog-right-mobile@2x.webp 2x
            "
            media="(max-width: 719px)"
          />
          <img src="./img/blog-right@1x.jpg" alt="right" class="blog__right" />
        </picture>
      </li>
      <li class="blog__news">
        <p
          class="blog__follow"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          Follow to our newsletter
        </p>
        <button
          class="blog__sub"
          data-modal-open
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0"
        >
          Subscribe
        </button>
      </li>
    </ul>
  </div>
</section>
