<section id="delivery" class="delivery">
  <div class="container">
    <div class="delivery__box">
      <h2 class="delivery__title">DELIVERY</h2>
      <div class="delivery__line"></div>
    </div>
    <ul class="delivery__list">
      <li class="delivery__item" data-aos="fade-right">
        <div class="delivery__bex">
          <div class="bix">
            <div class="delivery__border">1</div>
          </div>
          <p class="delivery__text">
            Choose your bouquet and make an order on website
          </p>
        </div>
      </li>
      <li class="delivery__item" data-aos="fade-left">
        <div class="delivery__bex">
          <div class="bix">
            <div class="delivery__border">2</div>
          </div>
          <p class="delivery__text">
            Wait for the call to clarify the details of the order. You can pay
            online or to the courier
          </p>
        </div>
      </li>
      <li class="delivery__item" data-aos="fade-right">
        <div class="delivery__bex">
          <div class="bix">
            <div class="delivery__border">3</div>
          </div>
          <p class="delivery__text">
            Wait for the delivery at the selected time or pick up the order from
            the store
          </p>
        </div>
      </li>
      <li class="delivery__item" data-aos="fade-left">
        <div class="delivery__bex">
          <div class="bix">
            <div class="delivery__border">4</div>
          </div>
          <p class="delivery__text">Make someone happy or enjoy yourself</p>
        </div>
      </li>
    </ul>
    <div class="delivery__fon"></div>
  </div>
</section>
