<div class="backdrop is-hidden" dota-modal>
  <div class="headermd headermd__bux">
    <button class="headermd__btn" type="button" dota-modal-close>
      <svg class="headermd__coluse">
        <use href="./img/symbol-defs.svg#clouse"></use>
      </svg>
    </button>
    <div class="headermd__box">
      <h2 class="headermd__title">Contact us</h2>
      <p class="headermd__text">
        If you have any additional questions or you want to clarify something
        before you make an order please fill in your contact details. We will
        call you back. .
      </p>
      <form action="" class="headermd__form">
        <label class="headermd__label">
          Name
          <input
            type="text"
            placeholder="Your name"
            class="headermd__input__name"
            required
          />
        </label>
        <label class="headermd__label">
          Email
          <input
            type="text"
            placeholder="Your email"
            class="headermd__input"
            required
          />
        </label>
        <button class="headermd__button" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
