<section id="store" class="store">
  <div class="container">
    <div class="store__box">
      <h2 class="store__title">STORE</h2>
      <div class="store__line"></div>
    </div>
    <ul class="store__list" >
      <li class="store__item" data-aos="flip-left">
        <picture>
          <source
            srcset="
              ./img/desktop/store1-desktop@1x.webp 1x,
              ./img/desktop/store1-desktop@2x.webp 2x
            "
            media="(min-width: 1264px)"
          />
          <source
            srcset="
              ./img/tablet/store1-tablet@1x.webp 1x,
              ./img/tablet/store1-tablet@2x.webp 2x
            "
            media="(min-width: 752px)"
          />
          <source
            srcset="
              ./img/mobile/store1-mobile@1x.webp 1x,
              ./img/mobile/store1-mobile@2x.webp 2x
            "
            media="(max-width: 752px)"
          />
          <img
            src="./img/desktop/store1-desktop@1x.webp"
            alt="a bouquet of flowers"
            class="store__img"
          />
        </picture>
        <div class="store__liner">
          <h2 class="store__paragraph">compliments</h2>
          <div class="store__lines"></div>
        </div>
        <p class="store__text">from $15</p>
      </li>
      <li class="store__item" data-aos="flip-right">
        <picture>
          <source
            srcset="
              ./img/desktop/store2-desktop@1x.webp 1x,
              ./img/desktop/store2-desktop@2x.webp 2x
            "
            media="(min-width: 1264px)"
          />
          <source
            srcset="
              ./img/tablet/store2-tablet@1x.webp 1x,
              ./img/tablet/store2-tablet@2x.webp 2x
            "
            media="(min-width: 752px)"
          />
          <source
            srcset="
              ./img/mobile/store2-mobile@1x.webp 1x,
              ./img/mobile/store2-mobile@2x.webp 2x
            "
            media="(max-width: 752px)"
          />
          <img
            src="./img/desktop/store2-desktop@1x.webp"
            alt="a bouquet of flowers"
            class="store__img"
          />
        </picture>
        <div class="store__liner">
          <h2 class="store__paragraph">bouquets size S</h2>
          <div class="store__linet"></div>
        </div>
        <p class="store__text">from $25</p>
      </li>
      <li class="store__item" data-aos="flip-left">
        <picture>
          <source
            srcset="
              ./img/desktop/store3-desktop@1x.webp 1x,
              ./img/desktop/store3-desktop@2x.webp 2x
            "
            media="(min-width: 1264px)"
          />
          <source
            srcset="
              ./img/tablet/store3-tablet@1x.webp 1x,
              ./img/tablet/store3-tablet@2x.webp 2x
            "
            media="(min-width: 752px)"
          />
          <source
            srcset="
              ./img/mobile/store3-mobile@1x.webp 1x,
              ./img/mobile/store3-mobile@2x.webp 2x
            "
            media="(max-width: 752px)"
          />
          <img
            src="./img/desktop/store3-desktop@1x.webp"
            alt="a bouquet of flowers"
            class="store__img"
          />
        </picture>
        <div class="store__liner">
          <h2 class="store__paragraph">bouquets size M</h2>
          <div class="store__linee"></div>
        </div>
        <p class="store__text">from $45</p>
      </li>
      <li class="store__item" data-aos="flip-right">
        <picture>
          <source
            srcset="
              ./img/desktop/store4-desktop@1x.webp 1x,
              ./img/desktop/store4-desktop@2x.webp 2x
            "
            media="(min-width: 1264px)"
          />
          <source
            srcset="
              ./img/tablet/store4-tablet@1x.webp 1x,
              ./img/tablet/store4-tablet@2x.webp 2x
            "
            media="(min-width: 752px)"
          />
          <source
            srcset="
              ./img/mobile/store4-mobile@1x.webp 1x,
              ./img/mobile/store4-mobile@2x.webp 2x
            "
            media="(max-width: 752px)"
          />
          <img
            src="./img/desktop/store4-desktop@1x.webp"
            alt="a bouquet of flowers"
            class="store__img"
          />
        </picture>
        <div class="store__liner">
          <h2 class="store__paragraph">bouquets size L</h2>
          <div class="store__linei"></div>
        </div>
        <p class="store__text">from $60</p>
      </li>
    </ul>
    <button type="button" class="store__btn"  data-aos="zoom-in-right">
      Order flowers
    </button>
  </div>
</section>
